.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.editor {
  max-width: 90%;
  width: 100%;
  border: 1px solid #d7d7d7;
  height: 80vh;
  text-align: left;
  line-height: 1.5 !important;
  padding: 20px;
}

.spell-error {
  background: transparent;
  border-bottom: 2px solid red;
}
.spell-error:hover {
  background: transparent;
  border-bottom: 2px solid red;
}

.suggestion-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 4.5px;
  margin-top: 5px;
  margin-left: -5px;
  z-index: 1;
}
.auto-suggestions {
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.auto-suggestions > li {
  border-radius: 4px;
  float: left;
  margin: 5px;
  padding: 2.5px;
}
.auto-suggestions > li > span {
  background-color: #edf5ff;
  border: 1px solid #4a6ee0;
  color: #3659b5;
  padding: 2px 4px;
  font-weight: 600;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
.auto-suggestions > li > span:hover {
  background-color: #4a6ee0;
  color: #fff;
}
.stats {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 15px;
}
.stats > li {
  margin: 0 8px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}
